@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,700&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: linen;
}

h1 {
  font-size: 48px;
  color: rgb(40, 191, 221);
  font-family: 'Raleway', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

header {
  display: flex;
}

.flag-counter {
  width: 62px;
  height: 32px;
  border: 2px ridge hsl(190,80%,65%);
  margin: 5px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(22, 154, 180);
  font-weight: 700;
}

.timer {
  width: 62px;
  height: 32px;
  border: 2px ridge hsl(190,80%,65%);
  margin: 5px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(22, 154, 180);
  font-weight: 700;
}

.won {
  font-size: 48px;
  color: rgb(40, 191, 221);
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

.lost {
  font-size: 48px;
  color: rgb(226, 29, 29, 0.747);
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

.small-board {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 3px outset hsl(190,80%,65%);
  width: 180px;
  height: 229px;
  background-color: linen;
}

button {
  width: 36px;
  height: 36px;
  background-color: hsl(190,80%,50%);
  box-sizing: border-box;
  border: 1px outset hsl(190,80%,50%);
  margin: 5px 0px;
  font-size: 16px
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 3px outset hsl(190,80%,50%);
}

.cell {
  width: 20px;
  height: 20px;
  background-color: hsl(190,80%,50%);
  box-sizing: border-box;
  border: 1px outset hsl(190,80%,80%);
  font-size: 10px;
  cursor: default;
}

.revealed {
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: linen;
  background-color: rgb(199, 228, 247);
}

.pressed {
  border: 0px;
  background-color: lightgrey;
}

.red {
  font-size: 14px;
  font-weight: 700;
  color: rgb(201, 65, 65)
}

.blue {
  font-size: 14px;
  font-weight: 700;
  color: rgb(0, 123, 223)
}

.green {
  font-size: 14px;
  font-weight: 700;
  color: rgb(64, 191, 96)
}

.purple {
  font-size: 14px;
  font-weight: 700;
  color: rgb(92, 64, 191)
}

.black {
  font-size: 14px;
  font-weight: 700;
  color: #000
}

.magenta {
  font-size: 14px;
  font-weight: 700;
  color: rgb(179, 40, 125)
}

.yellow {
  font-size: 14px;
  font-weight: 700;
  color: rgb(192, 170, 63)
}

.turquoise {
  font-size: 14px;
  font-weight: 700;
  color: rgb(34, 165, 154)
}
.zero {
  display: none;
}

.revealed.bomb {
  background-color: rgba(226, 29, 29, 0.747);
}