body {
  display: flex;
  justify-content: center;
  padding: 10px
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 3px outset lightskyblue;
  width: 180px;
  height: 242px;
  background-color: linen;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5px
}

.cell {
  width: 20px;
  height: 20px;
  background-color: lightskyblue;
  box-sizing: border-box;
  border: 1px outset lightblue;
  font-size: 10px;
}

.revealed {
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: lightskyblue;
  background-color: lightgrey;
}

.pressed {
  border: 0px;
  background-color: lightgrey;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
