body {
  display: flex;
  justify-content: center;
  padding: 10px
}

header {
  display: flex;
}

.flag-counter {
  width: 60px;
  height: 30px;
  border: 1px solid black
}

.small-board {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 3px outset hsl(190,80%,65%);
  width: 180px;
  height: 242px;
  background-color: linen;
}

button {
  width: 30px;
  height: 30px;
  background-color: hsl(110,80%,50%);
  box-sizing: border-box;
  border: 1px outset hsl(110,80%,80%);
  margin: 5px
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5px
}

.cell {
  width: 20px;
  height: 20px;
  background-color: hsl(190,80%,50%);
  box-sizing: border-box;
  border: 1px outset hsl(190,80%,80%);
  font-size: 10px;
  cursor: default;
}

.revealed {
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: linen;
  background-color: rgb(199, 228, 247);
}

.pressed {
  border: 0px;
  background-color: lightgrey;
}

.red {
  font-size: 14px;
  font-weight: 700;
  color: rgb(201, 65, 65)
}

.blue {
  font-size: 14px;
  font-weight: 700;
  color: rgb(0, 123, 223)
}

.green {
  font-size: 14px;
  font-weight: 700;
  color: rgb(64, 191, 96)
}

.purple {
  font-size: 14px;
  font-weight: 700;
  color: rgb(92, 64, 191)
}

.black {
  font-size: 14px;
  font-weight: 700;
  color: #000
}

.magenta {
  font-size: 14px;
  font-weight: 700;
  color: rgb(179, 40, 125)
}

.yellow {
  font-size: 14px;
  font-weight: 700;
  color: rgb(192, 170, 63)
}

.turquoise {
  font-size: 14px;
  font-weight: 700;
  color: rgb(34, 165, 154)
}
.zero {
  display: none;
}